<div class="container">
  <div class="row">
    <div class="col-md topspace">
      <div class="card">
        <img src="https://picsum.photos/300/300?image=950" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">
            Bridge print, 36"x24"
          </h3>
          <h4 class="card-subtitle price">
            $140
          </h4>
          <div class="topspace">
            <button class="btn btn-lg btn-block btn-primary">Buy print</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
      </div>
    </div>
  </div>
</div>
