<div class="container">
  <div class="row">
    <div class="col-md topspace">
      <div class="card">
        <img src="https://picsum.photos/300/300?image=950" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">
            Bridge print, 36"x36"
          </h3>
          <h4 class="card-subtitle price">
            $140
          </h4>
          <div class="topspace">
            <a href="#" class="btn btn-lg btn-block btn-primary">Buy print</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md topspace">
      <div class="card">
        <img src="https://picsum.photos/300/300?image=939" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">
            Building print, 36"x30"
          </h3>
          <h4 class="card-subtitle price">
            $120
          </h4>
          <div class="topspace">
            <a href="#" class="btn btn-lg btn-block btn-primary">Buy print</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md topspace">
      <div class="card">
        <img src="https://picsum.photos/300/300?image=931" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">
            Mountains print, 36"x28"
          </h3>
          <h4 class="card-subtitle price">
            $170
          </h4>
          <div class="topspace">
            <a href="#" class="btn btn-lg btn-block btn-primary">Buy print</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
